@import 'tailwindcss';

/* Leaflet overrides */
.leaflet-container {
	background: #000;
}
.leaflet-tile-pane {
	opacity: 1;
}
.inspector-active.leaflet-container { cursor: crosshair !important; }
.leaflet-dragging .inspector-active.leaflet-container { cursor: grabbing !important; }
